*{
    margin: 0px;
    padding: 0px;
    /*border何とか*/
}

h1{
    background-color: lightseagreen;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

/*関数化的なもの*/
.underline{
    text-decoration: underline;
}
.lettersmall{
    font-size: 12px;
}

body{
    background-color:rgb(255, 253, 236);
}



/*検索カード*/
.search{
    margin: 3svw;
    padding: 4dvw;
    border-radius: 20px;
    background-color: rgb(255, 237, 36)
}

#bookName{
    padding: 1svw 40dvw 1svw 1dvw;
}

#searchBut{
    padding: 0.8svw;
    margin-left: 1svw;
    color: white;
    background-color: rgb(49, 97, 255);
    border-radius: 5px;

}
/*終了*/

.kennsakukekka{
    padding: 0px;
    margin: 0px;
}

/*検索結果カード*/
.result{
    margin: 3svw;
    padding: 4dvw;
    background-color: rgb(255, 242, 105);
    border-radius: 20px;
   
}

.result-card{
    
}

