h1{
    background-color: lightseagreen;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

/*関数化的なもの*/
.underline{
    text-decoration: underline;
}
.lettersmall{
    font-size: 12px;
}

body{
    background-color:lemonchiffon;
}



/*検索カード*/
.search{
    padding: ;
    margin: ;
    background-color: rgb(255, 237, 36)
}